:root {
    --background-color: white;
    --primary-color: #FFB715;
    --secondary-color: #CCBC25;
    --tertiary-color: #54B6FF;
    --tertiary-color-tint: #25B1CC;
    --text-color: #999149;
}

.primary-background-color {
    background-color: var(--primary-color);
}

.secondary-background-color {
    background-color: var(--secondary-color);
}

body {

}

header a:hover {
    color: var(--primary-color);
    filter: brightness(25%);
}

header a {
    color: white;
    font-weight: 600;
    transition: 0.6s;
}

header.navigation-bar {
    padding: 6px 0 6px 0;
}

main {
    padding-top: 20px;
    padding-bottom: 20px;
}

div.primary-panel, form.primary-panel, section.primary-panel, primary-panel {
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}

div.secondary-panel {
    border: 1px solid var(--secondary-color);
    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}

label {
    font-weight: 600;
}

input {
    border-radius: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
}

input[type="text"], input[type="password"] {
    border: 1px solid var(--primary-color);
    margin-bottom: 10px;
}